body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFAD84;
}

.container {
    width: 50%;
    margin: 50px auto;
}

.order-form {
    background-color: #EEE7DA;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #092635 ;
    box-sizing: border-box;
}

textarea {
    height: 80px;
}

button {
    background-color: #092635;
    color: #EE7214;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

button:hover {
    background-color:#092635;
}
